@import "../styles/variables.css";

.basefn-sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--basefn-bg-primary);
  color: var(--basefn-text-primary);
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid var(--basefn-border-primary);
}

.basefn-sidebar__header {
  padding: 1rem 1.5rem;
  flex-shrink: 0;
  align-items: center;
  height: 4rem;
  display: flex;
  border-bottom: 1px solid transparent;
  border-bottom: 1px solid var(--basefn-border-primary);
}

.basefn-sidebar__logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--basefn-text-primary);
  font-family: var(--font-mono);
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 2rem;
}

.basefn-sidebar__logo a {
  text-decoration: none;
  font-weight: 600;
  height: 32px;
}

.basefn-sidebar__nav {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  scrollbar-color: var(--basefn-color-neutral-300) transparent; 
}

html[data-theme="dark"] .basefn-sidebar__nav {
  scrollbar-color: var(--basefn-color-neutral-800) transparent;
}

.basefn-sidebar__section {
  margin-bottom: 1.5rem;
}

.basefn-sidebar__section-title {
  padding: 0.5rem 0.5rem;
  font-size: var(--basefn-font-size-xs);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  color: var(--basefn-text-tertiary);
}

.basefn-sidebar__section-title:empty {
  display: none;
}

.basefn-sidebar__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1.25rem;
  margin: 0 -0.5rem;
  color: var(--basefn-text-tertiary);
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: var(--basefn-radius-xl);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.basefn-sidebar__item:hover {
  background-color: var(--basefn-bg-secondary-aa);
  color: var(--basefn-text-primary);
}

.basefn-sidebar__item--active,
.basefn-sidebar__item--active:hover {
  background-color: var(--basefn-bg-primary-aa);
  color: var(--basefn-color-primary);
  font-weight: 700;
}

.basefn-sidebar__item-icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.basefn-sidebar__item-text {
  font-size: 0.875rem;
}

.basefn-sidebar__footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--basefn-border-primary);
  flex-shrink: 0;
}

/* Width variants */
.basefn-sidebar--sm {
  width: 12rem;
}

.basefn-sidebar--md {
  width: 16rem;
}

.basefn-sidebar--lg {
  width: 20rem
}

/* Collapsible variant */
.basefn-sidebar--collapsed {
  width: 64px;
  display: none;
}

.basefn-sidebar--collapsed .basefn-sidebar__item-text,
.basefn-sidebar--collapsed .basefn-sidebar__section-title,
.basefn-sidebar--collapsed .basefn-sidebar__logo {
  display: none;
}

.basefn-sidebar--collapsed .basefn-sidebar__item {
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}
