@import './styles/variables.css';

.eita-avatar {
  border-radius: 50%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 2.5rem;
	height: 2.5rem;
}

.eita-avatar--sm {
	width: 1.5rem;
	height: 1.5rem;
}

.eita-avatar--lg {
	width: 4rem;
	height: 4rem;
}

.eita-avatar img {
	width: 100%;
	height: 100%;
}
